
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Share+Tech+Mono&display=swap');

body {
    width: 100%;
    color: white;
    background: url(imagenes/muebles-salon-medida-alta-calidad_872147-24040.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin: 0%;

}
h3{
    text-align: center;
}
label{
    color:azure;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 10px;
    margin-left: 50px;
}


 header{

    height: 10vh;  
    width: 100%;
    background-color: rgb(235, 148, 49);
    img{
        height: 40px;
        width: 40px;
    }
    span{

        font-family: 'Montserrat';
        color: black;
        font-size: 15px;
    }
   
    a{
        text-decoration: none;
        font-family: 'Montserrat';
        text-align:center;
    }
}
section{

    display: flex;
    justify-content: center;
   
}
#formulario{

    width: 450px;
    height: 500px; 
    background-color: rgb(15, 58, 49);
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 300px;
    border-radius: 3px;
   
    margin-top: 20px;


    input{

        height: 30px;
        width: 80%;
        margin-bottom: 8px;
        margin-left: 50px;
        border-radius: 4px;
        background-color:rgb(128, 124, 124);
        font-family: 'Montserrat';
        font-size: 10px;
        color: azure;

    }
 

}
 
#pais{

    height: 30px;
    width: 30%;
    margin-bottom: 5px;
    margin-left: 40px;
    background-color: rgb(128, 124, 124);
    font-family: 'Montserrat';
    color: azure;

}  



